repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint ./pyhive/ --ignore-patterns="_generated_.*\.py"
        language: system
        types: [python]
        require_serial: true
