repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args:
          - ./pyhive/
          - --ignore-patterns=_generated_.*\.py
        exclude: ^tests/
