[MASTER]
init-hook='import sys; sys.path.append("./pyhive")'

[FORMAT]
max-line-length=120

[DESIGN]
max-attributes=30

[MESSAGES CONTROL]
allowed-redefined-builtins=id
disable=R0801,fixme,import-outside-toplevel

# You can add more pylint configuration here as needed.
