name: Publish package to PyPI

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build-matrix:
    name: Build wheels matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install test deps
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Install build tools
        run: python -m pip install --upgrade build

      - name: Build wheel
        run: python -m build -w

      - name: Upload built artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.python-version }}
          path: dist/*

  publish:
    name: Publish aggregated wheels
    runs-on: ubuntu-latest
    needs: build-matrix
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download wheels from 3.11
        uses: actions/download-artifact@v4
        with:
          name: dist-3.11
          path: dist

      - name: Download wheels from 3.12
        uses: actions/download-artifact@v4
        with:
          name: dist-3.12
          path: dist

      - name: Download wheels from 3.13
        uses: actions/download-artifact@v4
        with:
          name: dist-3.13
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
